/* Color palette loosely based on https://colorhunt.co/palette/2543366b8a7ab7b597dad3be */

body {
    font-family: 'Courier New', Courier, monospace;
    min-width: 400px;
    /* color: #6B8A7A;     */
    color: #648272;
}

h1 {
    padding-top: 20px;
    color: #4d7261;
    font-size: 44px;
}

img {
    max-width: 90%;
}

#travels, #github{
    text-decoration: none; 
    font-weight:600;
    color: #4d7261;
}

#email, #goodbye {
    font-weight:600;
    color: #4d7261;
}



@media(max-width:600px){
    #container {
        margin: 3% 10%;
        font-size: 20px;
    }

    #img_architecture {
        padding-left: -10px;
    }

    img {
        max-width: 85%;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
    }

    #goodbye {
        margin-left: 22%;
    }
}

@media (min-width:601px) and (max-width:769px){

    #container {
        margin: 5% 10%;
        font-size: 22;
    }

    ol, ul{
        padding-left: 70px;
    }

    img {
        padding: 70px;
    }

    #goodbye {
        margin-top: 5%;
        margin-left: 18%;
    }
}


@media(min-width:769px){

    #container {
        margin: 5% 10%;
        font-size: 20px;
        max-width: 1000px;
    }

    h1 {
        font-size: 44px;
    }

    ol, ul{
        padding-left: 70px;
    }

    img {
        padding: 30px;
    }

    #goodbye {
        margin-top: 5%;
        margin-left: 0%;
    }

}