@media(max-width:768px){
    body {
        margin: 3% 10%;
        font-size: 20px;
    }
}

body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: burlywood;
    margin: 5% 10%;
    font-size: 30px;
    min-width: 768px;
}


h1 {
    font-size: 44px;
    color:antiquewhite;
}

.text {
    color: burlywood;
}

#email {
    color: white;
}

ol, ul{
    padding-left: 70px;
}

img {
    padding: 70px;
}