.reactionBox {
    display: flex;
    flex-direction: row;
}

.reaction {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.reactionLiked {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    color: rgb(192, 187, 187);
    /* pointer-events: none; */
}

.emoji {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.likes {
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    margin-left: 4px;
    margin-top: 0.5px;
}

.dot {
    font-size: 20px;
    padding: 0px;
    margin: 0px; 
    margin-left: 7px;
    font-weight: 800;
}