.photo {
    margin:0px 0px 70px 0px;
    padding:0px;
    color: rgb(73, 69, 69);
}

img {
    max-width: 100%;
    border-radius: 3px;
}

.photoMeta {
    margin:0px;
    padding:0px;
}

.photoTitle {
    font-size: 17px;
    font-weight: 700;
    margin:3px 0px 0px 0px;
    padding:0px;
}

.photoDesc{
    font-size: 12.5px;
    margin:0px;
    padding:0px;
}

.photoReactions {
    margin: 5px 0px 16px 0px;
    padding:0px;
    font-size: 15px; /*have different fonts for emojis and numbers*/
}

@media (min-width: 769px) {
    img {
        max-width: 350px;
    }

    .photo {
        display: flex;
        flex-direction: row;
        margin-bottom: 100px;
    }

    .photoMeta {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-bottom: 20px;
        justify-content: flex-end;
    }

    .photoDesc {
        margin-top: 5px;
    }

    .photoReactions {
        margin: 10px 0px 0px 0px;
    }

}
