body {
  min-width: 360px;
}

.app {
  padding-top: 0%;
  margin-left: 5%;
  max-width: 90%;
}

.memories {
  margin: 0px 0px 50px 0px;
  padding: 0px;
  max-width: 95%;
}

.memories h3 {
  color: rgb(57, 53, 53);
}

.memories ul {
  margin: 0px;
  padding: 0px;
}

.memories li {
  margin-left: 20px;
  padding: 0px;
  font-size: 12.5px;
  color: rgb(57, 53, 53);
  padding-bottom: 7px;
}


footer {
  margin: 0px 0px 30px 0px;
  color: rgb(117, 110, 110);
  font-size: 15px;
}

.curious{
  font-size:  12.5px;
}

.linkArchitecture {
  text-decoration: none;
  color: rgb(117, 110, 110);
}

.made {
  padding: 0px;
  margin-top: 5px;
  font-size: 11px;
  font-style: italic;
}

.made span {
  font-style: normal;
}

@media (min-width: 769px) and (max-width: 840px) {
  .app {
    max-width: 500px;
    margin-left: 25%;
  }

  .memories {
    margin: 0px 0px 50px 0px;
    padding: 0px;
    max-width: 500px;
  }
  
}


@media (min-width: 840px) {
  .app {
    max-width: 500px;
    margin-left: 29%;
  }

  .memories {
    margin: 0px 0px 50px 0px;
    padding: 0px;
    max-width: 500px;
  }
}
